.projects {
  padding: 64px 16px 88px;

  &__description {
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 46px;
  }

  &__header {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: $textDark;
  }
}

.project {
  background: $gray;
  color: $grayLighter;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: "Roboto Mono";
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.25));
  border-radius: 16px;
  overflow: hidden;

  &__circle {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $grayCircle;
    margin-right: 8px;
  }

  &__content {
    padding: 24px 16px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 102px 1fr;
    column-gap: 8px;
  }

  &__label {
    display: block;
    text-align: right;
    color: $grayLight;
  }

  &__link {
    color: $linkConsole;
  }

  &__special {
    color: #fff;
    font-weight: 700;
  }

  &__title {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
  }

  &__window {
    height: 40px;
    background: $grayDark;
    display: flex;
    align-items: center;
    padding: 0 0 0 16px;
  }
}
