$blue: #1070CA;
$blueLight: #DBEAF7;
$gray: #212528;
$grayCircle: #464A4D;
$grayDark: #1E1E1E;
$grayLight:#808082;
$grayLighter: #A3A3A3;
$linkConsole:#14B5D0;
$text: #425A70;
$textDark: #234361;
$textLink: #4DA8FF;
