$blue: #1070ca;
$blueLight: #dbeaf7;
$gray: #212528;
$grayCircle: #464a4d;
$grayDark: #1e1e1e;
$grayLight: #808082;
$grayLighter: #a3a3a3;
$linkConsole: #14b5d0;
$text: #425a70;
$textDark: #234361;
$textLink: #4da8ff;

$tablet: 780px;
$desktop: 960px;
